<%= form_with( model: [:admin, @organizer], local: true) do |form| %>
  <% if @organizer.errors.any? %>
    <div id="error_explanation">
        <% @organizer.errors.full_messages.each do |msg| %>
          <div class="alert alert-danger" role="alert">
            <%= msg %>
          </div>
        <% end %>
    </div>
  <% end %>
  <div class="form-group">
    <label for="exampleInputEmail1">Имя</label>
    <%= form.text_field :name, placeholder: "Имя", class: "form-control"%>
  </div>
  <%= form.submit "Сохранить", :class => 'btn btn-primary' %>
  <%= link_to   admin_organizers_path, class: 'btn btn-outline-success mt-2 mb-2' do %>
    Назад к организаторам
  <% end %>
<% end %>