<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'select2.min.css' %>
  <%= stylesheet_link_tag 'bootstrap-datepicker.min.css' %>
  <%= stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/suggestions-jquery@20.3.0/dist/css/suggestions.min.css' %>
<% end %>

<% content_for :javascripts do %>
  <%= javascript_include_tag "select2.min.js" %>
  <%= javascript_include_tag "https://cdn.jsdelivr.net/npm/suggestions-jquery@20.3.0/dist/js/jquery.suggestions.min.js" %>
  <%= tinymce_assets %>
  <%= javascript_include_tag "moment.min.js" %>
  <%= javascript_include_tag "bootstrap-datetimepicker.min.js" %>
<% end %>

<%= form_with(model:[:admin, @event], local: true) do |form| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <% @event.errors.full_messages.each do |msg| %>
        <div class="alert alert-danger" role="alert">
          <%= msg %>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="form-group">
    <label for="exampleInputEmail1">Название</label>
    <%= form.text_field :title, placeholder: "Название", class: "form-control"%>
  </div>
  <%- #todo:image upload -%>
  <div class="form-group">
    <label for="exampleInputEmail1">Город</label>
    <%= form.text_field :city, placeholder: "Город", class: "form-control"%>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Место проведения</label>
    <%= form.text_field :location, placeholder: "Место проведения", class: "form-control"%>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Организатор</label>
    <%= form.collection_select(:organizer_id, Organizer.all, :id, :name, {}, { :class=>'select2 form-control'} ) %>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Внешняя ссылка</label>
    <%= form.url_field :link, placeholder: "Внешняя ссылка", class: "form-control"%>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Дата и время</label>
    <%= form.text_field :event_date, placeholder: "Дата и время", class: "datetime-input form-control"%>
  </div>
  <div class="form-group">
    <label for="exampleFormControlFile1">Изображение</label>
    <%= form.file_field :image, class: "form-control-file" %>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Описание</label>
    <%= form.text_area :description, placeholder: "Описание", class: "tinymce form-control"%>
  </div>
  <%- #todo: organizer field -%>
  <%= form.submit "Сохранить", :class => 'btn btn-primary' %>
  <%= link_to   admin_events_path, class: 'btn btn-outline-success mt-2 mb-2' do %>
    Назад к событиям
  <% end %>
<% end %>