<% content_for :javascripts do %>
  <%= javascript_include_tag "https://api-maps.yandex.ru/2.1/?apikey=74e2696c-307e-46f7-9889-91dafb6ed2d4&lang=ru_RU" %>
  <%= javascript_include_tag "maps" %>
<% end %>
<div class="row justify-content-center pt-5">
  <div class="col-md-8">
    <div class="card">
      <header class="card-header">
        Просмотр события
      </header>
      <div class="card-body">
        <% if @event.image? %>
          <div class="col-md-6 ">
            <%= image_tag @event.image.url, class: "img-retina img-fluid" %>
          </div>
          <hr>
        <% end %>
        <b>Наименование:</b> <span><%= @event.title %></span>
        <hr>
        <b>Город:</b> <span id="event_city"><%= @event.city %></span>
        <hr>
        <b>Расположение:</b> <span id="event_location"><%= @event.location %></span>
        <hr>
        <b>Дата:</b> <span><%= formatted_date(@event.event_date) %></span>
        <hr>
        <b>Время:</b> <span> <%= formatted_time(@event.event_date)%></span>
        <hr>
        <b>Организатор:</b> <span> <%= @event.organizer.name %></span>
        <hr>
        <b>Url:</b><span> <%= link_to 'Ссылка на мероприятие',  @event.link %></span>
        <% unless @event.description == nil || @event.description == "" %>
          <hr>
          <div class="event-description pt-5 pb-5">
            <%= @event.description.html_safe  %>
          </div>
        <% end %>
        <hr>
        <div id="map" style="width: 100%; height: 400px"></div>
      </div>
    </div>
    <%= link_to admin_events_path, class: 'btn btn-outline-success mt-2 mb-2' do %>
      Назад к событиям
    <% end %>
  </div>
</div>