<% unless @events.empty? %>
  <div class="row">
    <% @events.each do |event| %>
      <div class="col-lg-6 mb-4 col-md-6 col-sm-12">
        <div class="card shadow-sm">
          <div class="img-wrap">
            <% if event.image.attached? %>
              <%= image_tag event.image.variant(combine_options: {resize: '200x200'}), :class => "img-retina" %>
            <% else %>
              <svg class="bd-placeholder-img" width="200" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                <rect width="200" height="200" fill="#55595c"></rect>
                <text x="10%" y="50%" fill="#eceeef" dy=".3em">Фото отсутствует</text>
              </svg>
            <% end %>
          </div>
          <div class="events-card-list card-body">
            <h3><%= event.title %></h3>
            <div class="d-flex ">
              <p class="card-text mr-3">
                <i class="fa fa-calendar-o" aria-hidden="true"></i> <%= formatted_date(event.event_date) %></p>
              <p class="card-text">
                <i class="fa fa-clock-o" aria-hidden="true"></i> <%= formatted_time(event.event_date) %></p>
            </div>
            <p class="card-text"><i class="fa fa-map-marker" aria-hidden="true"></i> <%= event.city %>, <%= event.location %></p>

            <%= link_to 'Подробнее', event_path(event), class: "btn col-md-12 btn-primary mt-3 mb-2" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <nav class="mt-5 pagination justify-content-center digg_pagination">
    <%= will_paginate @events %>
  </nav>
<% else %>
  <div class="row">
    <div class="col-md-12"> К сожалению, ничего не найдено. Попробуйте изменить параметры поиска.</div>
  </div>
<% end %>