<% unless @events.empty? %>
  <div class="row">
    <% @events.each do |event| %>
      <div class="col-lg-4 mb-4 col-md-6 col-sm-6">
        <div class="card  shadow-sm">
          <% if event.image.attached? %>
            <%= image_tag event.image.variant(combine_options: {resize: '300x300'}) %>
          <% else %>
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
              <rect width="100%" height="100%" fill="#55595c"></rect>
              <text x="50%" y="50%" fill="#eceeef" dy=".3em">Фото отсутствует</text>
            </svg>
          <% end %>
          <div class="events-card-list card-body">
            <h3><%= event.title %></h3>
            <p class="card-text"><i class="fa fa-map-marker" aria-hidden="true"></i> <%= event.city %>
              , <%= event.location %></p>
            <div class="d-flex ">
              <p class="card-text mr-3">
                <i class="fa fa-calendar-o" aria-hidden="true"></i> <%= event.event_date.strftime("%d.%m.%Y") %></p>
              <p class="card-text">
                <i class="fa fa-clock-o" aria-hidden="true"></i> <%= event.event_date.strftime("%k:%M") %></p>
            </div>
            <%= link_to 'Подробнее', event_path(event), class: "btn col-md-12 btn-primary mt-3 mb-2" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <nav class="mt-5 pagination justify-content-center digg_pagination">
    <%= will_paginate @events %>
  </nav>
<% else %>
  <div class="row">
    <div class="col-md-12"> К сожалению, ничего не найдено. Попробуйте изменить параметры поиска.</div>
  </div>
<% end %>