<h1>Show</h1>
  <%= @event.title %>
  <%-# @event.image -%>
  <%= @event.city%>
  <%= @event.location %>
  <%= @event.link %>
  <%= @event.event_date %>
  <%= @event.description %>
  <%-# todo: organizer field-%>