<section class="px-3 bg-secondary py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h2 class="text-light"><%= @event.title %></h2>
</section>
<section class="container-fluid bg-light">
  <div class="container">
  <div class="row justify-content-center pt-5">
    <div class="col-md-6 bg-secondary">
      <% if @event.image.attached? %>
        <%= image_tag @event.image.variant(combine_options: { gravity: 'Center', crop: '540x400+0+0' }), class: "img-retina img-fluid" %>
      <% end %>
    </div> <div class="col-md-6">
      <div class="events-card-main card-body">
        <p class="card-text"><i class="fa fa-map-marker" aria-hidden="true"></i> <span class="city"><%= @event.city %></span>, <%= @event.location %></p>
        <p class="card-text"><i class="fa fa-calendar-o" aria-hidden="true"></i> <%= @event.event_date.strftime("%d.%m.%Y") %></p>
        <p class="card-text"><i class="fa fa-clock-o" aria-hidden="true"></i> <%= @event.event_date.strftime("%k:%M") %></p>
        <p class="card-text pt-3"><%= link_to 'Ссылка на мероприятие',  @event.link , class: "btn btn-outline-primary" %>  </p>
        <% if admin_signed_in? %>
          <%= link_to edit_event_path(@event), class: "btn btn-outline-info btn-service", title: "Редактировать"  do %>
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          <% end %>
        <% end %>
        <% if admin_signed_in? %>
          <%= link_to @event, method: :delete, class: "btn btn-outline-danger btn-service", title: "Удалить" , data: { confirm: "Вы уверены, что хотите удалить?" } do %>
            <i class="fa fa-times" aria-hidden="true"></i>
          <%end %>
        <%end %>
      </div>
    </div>

    </div>
  <div class="event-description pt-5 pb-5">
    <%= @event.description %>
  </div>
  </div>
</section>