<% provide(:title, @event.title) %>
<% content_for :javascripts do %>
  <%= javascript_include_tag "https://api-maps.yandex.ru/2.1/?apikey=74e2696c-307e-46f7-9889-91dafb6ed2d4&lang=ru_RU" %>
  <%= javascript_include_tag "maps" %>
<% end %>
<section class="banner-blue px-3 bg-secondary py-3 pt-md-5 pb-md-5 mx-auto text-center">
  <h2 class="text-light"><%= @event.title %></h2>
</section>
<section class="container-fluid bg-light">
  <div class="container">
    <div class="row justify-content-center pt-5">
      <% if @event.image? %>
        <div class="col-md-6 ">
          <%= image_tag @event.image.url, class: "img-retina img-fluid" %>
        </div>
      <% else %>
        <div class="col-md-6 bg-secondary"></div>
      <% end %>
      <div class="col-md-6">
        <div class="events-card-main card-body">
          <p class="card-text"><i class="fa fa-map-marker" aria-hidden="true"></i>
            <span id="event_city" class="city"><%= @event.city %></span>,
            <span id="event_location"><%= @event.location %></span></p>
          <p class="card-text">
            <i class="fa fa-calendar-o" aria-hidden="true"></i> <%= formatted_date(@event.event_date) %></p>
          <p class="card-text">
            <i class="fa fa-clock-o" aria-hidden="true"></i> <%= formatted_time(@event.event_date) %></p>
          <% if !(@event.organizer == nil) %>
            <p class="card-text organizer"><i class="fa fa-user" aria-hidden="true"></i>
              <%= link_to @event.organizer.name, organizer_path(@event.organizer), class: "color-primary" %>
            </p>
          <% end %>
          <p class="card-text">
            <i class="fa fa-link" aria-hidden="true"></i> <%= link_to 'Ссылка на мероприятие', @event.link, class: "color-primary" %>
          </p>
          <p class="card-text">
            <i class="fa fa-calendar-plus-o"></i> <%= link_to 'Добавить в календарь', :controller => 'events', :action => :show, :format => :ics %>
          </p>
        </div>
      </div>
    </div>
    <% unless @event.description == nil || @event.description == "" %>
      <hr>
      <div class="event-description pt-5 pb-5">
        <%= @event.description.html_safe %>
      </div>
    <% end %>
    <hr>
    <div id="map"></div>
  </div>
</section>